{% extends 'base.html' %}


{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Home!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse illo facere molestiae tempore laborum facilis asperiores quidem veritatis rem dignissimos id laboriosam ducimus quibusdam voluptate ea, impedit cum veniam corporis non repellendus eos incidunt! Praesentium ut facilis dolores excepturi laudantium commodi molestias error totam, officia modi non veritatis ea quam natus id ad maiores? Recusandae magni repellendus ea accusamus consectetur! Facere praesentium error assumenda accusantium quaerat sit voluptates quasi exercitationem. Molestiae inventore maxime sequi, doloribus veniam expedita repellat est voluptatibus eum, nisi assumenda labore ab debitis blanditiis. Atque deserunt, vel explicabo aliquid esse distinctio nobis? Sed odit commodi corrupti perspiciatis.</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin">
                SignIn
            </a>
            <a class="btn btn-secondary" href="/signup">
                SignUp
            </a>
        </div>
    </section>
</main>
{% endblock %}